<div class="container">
  <h3 class="text-center"> List of all the Orders </h3>
  <div>
  <table mat-table [dataSource]="Orders" matSort >
    <!-- Id Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let element" > <a href="/order/{{element.Id}}">{{element.Id}} </a></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="CustomerId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CustomerId </th>
      <td mat-cell *matCellDef="let element"> {{element.CustomerId}} </td>
    </ng-container>

    <!-- Company Name Column -->
    <ng-container matColumnDef="EmployeeId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EmployeeId </th>
      <td mat-cell *matCellDef="let element"> {{element.EmployeeId}} </td>
    </ng-container>

    <!-- Company Name Column -->
    <ng-container matColumnDef="Freight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Freight </th>
      <td mat-cell *matCellDef="let element"> {{element.Freight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="OrderDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
      <td mat-cell *matCellDef="let element"> {{element.OrderDate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20, 30]" showFirstLastButtons></mat-paginator>
</div>
</div>
