<div class="container">
  <mat-card *ngIf="errMessage" class="text-center "><h3 class="headline">{{errMessage}}</h3></mat-card>
  <mat-card class="" *ngIf="order">
    <mat-card-header>
      <mat-card-title><h2>Order Details</h2></mat-card-title>
      <mat-card-subtitle ><h4>{{order.Order.Id}}</h4></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-3">
          <h5>Customer Id: </h5>
        </div>
        <div class="col-md-3">
          {{order.Order.CustomerId}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h5>Employee Id: </h5>
        </div>
        <div class="col-md-3">
          {{order.Order.EmployeeId}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h5>Freight: </h5>
        </div>
        <div class="col-md-3">
          {{order.Order.Freight}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h5>Order Date: </h5>
        </div>
        <div class="col-md-3">
          {{order.Order.OrderDate}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h5>Required Date: </h5>
        </div>
        <div class="col-md-3">
          {{order.Order.RequiredDate}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h5>Ship Via: </h5>
        </div>
        <div class="col-md-3">
          {{order.Order.ShipVia}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h5>Ship Address: </h5>
        </div>
        <div class="col-md-3">
          {{order.Order.ShipAddress}}<br />
          {{order.Order.ShipCity}}, {{order.Order.ShipPostalCode}}<br />
          {{order.Order.ShipCountry}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Order Details -->
  <br />
  <div class="container-fluid">
    <div >
      <strong>Order Products</strong>
    </div>
    <table mat-table [dataSource]="orderDetail" matSort >
      <!-- Id Column -->
      <ng-container matColumnDef="OrderId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Id</th>
        <td mat-cell *matCellDef="let element" >{{element.OrderId}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="ProductId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Id </th>
        <td mat-cell *matCellDef="let element"> {{element.ProductId}} </td>
      </ng-container>

      <!-- Company Name Column -->
      <ng-container matColumnDef="Discount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
        <td mat-cell *matCellDef="let element"> {{element.Discount}} </td>
      </ng-container>

      <!-- Company Name Column -->
      <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="UnitPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </th>
        <td mat-cell *matCellDef="let element"> {{element.UnitPrice}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
  </div>
</div>
