<div class="container">
  <mat-card class="" *ngIf="customer">
    <mat-card-header>
      <mat-card-title><h2>Customer Details</h2></mat-card-title>
      <mat-card-subtitle ><h4>{{customer.Id}}</h4></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-2">
          <h5>Name: </h5>
        </div>
        <div class="col-md-2">
          {{customer.ContactName}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h5>Title: </h5>
        </div>
        <div class="col-md-2">
          {{customer.ContactTitle}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h5>Company Name: </h5>
        </div>
        <div class="col-md-2">
          {{customer.CompanyName}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h5>Phone: </h5>
        </div>
        <div class="col-md-2">
          {{customer.Phone}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h5>Fax: </h5>
        </div>
        <div class="col-md-2">
          {{customer.Fax}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h5>Address: </h5>
        </div>
        <div class="col-md-2">
          {{customer.Address}}<br />
          {{customer.City}}, {{customer.PostalCode}}<br />
          {{customer.Country}}
        </div>
      </div>
    </mat-card-content>
  </mat-card>


  <!-- Customer Order -->
  <br />
  <div class="container-fluid">
    <div *ngIf="CustomersOrders">
      <strong>Customer Orders</strong>
      <span class="text-muted lead "> ({{CustomersOrders.data.length}})</span>
    </div>
    <table mat-table [dataSource]="CustomersOrders" matSort >
      <!-- Id Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element" > <a href="/order/{{element.Id}}">{{element.Id}} </a></td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="CustomerId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CustomerId </th>
        <td mat-cell *matCellDef="let element"> {{element.CustomerId}} </td>
      </ng-container>

      <!-- Company Name Column -->
      <ng-container matColumnDef="EmployeeId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EmployeeId </th>
        <td mat-cell *matCellDef="let element"> {{element.EmployeeId}} </td>
      </ng-container>

      <!-- Company Name Column -->
      <ng-container matColumnDef="Freight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Freight </th>
        <td mat-cell *matCellDef="let element"> {{element.Freight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="OrderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
        <td mat-cell *matCellDef="let element"> {{element.OrderDate}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
